* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0);outline:0;margin:0; padding:0; }
html, body {margin: 0; height: 100%; overflow: hidden}
body {font-size:15px;font-family: 'Noto Sans KR', 'Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,sans-serif;color:#FFFFFF;font-weight:400;zoom:1;text-align:center;background:black;transition:font-weight .3s;}
body::-webkit-scrollbar{width:0;background-color:transparent;}
h1{font-size:3em}
h2{font-size:2em;position:relative;}
a{text-decoration:none;color:#fff;border:none;margin:0;padding:0;}
a:visited{text-decoration:none;border:none;}
a:active{text-decoration:none;border:none;}
a:hover{text-decoration:none;border:none;}
ul, ol, li{list-style: none}
dt {}
dl {}
samp {display:inline-block;}

button {border-radius:3px;border:solid 1px #FFF;color:#FFF;padding:3px 10px;background:#000;cursor:pointer}

.middle {display:inline-block;vertical-align:middle}

#wrap {max-width:1460px;background:black;height:100%;position:relative;overflow:visible;margin:auto;}

.gone {position:absolute;left:9999px;top:9999px;width:1px;height:1px;}

.arrow {position:absolute;left:0;right:0;width:50px;height:50px;margin:auto;animation: poke 1.5s infinite ease-in-out;background-position:center;background-size:100%;background-repeat:no-repeat;cursor:pointer;z-index:1000}
.arrow.down{background-image:url('./images/arrow_down.png');bottom:0}
.arrow.up{background-image:url('./images/arrow_up.png');top:0}

@keyframes poke {
    0%, 100% {
	margin-top: 5px;
	margin-bottom: 5px;
    }
    50% {
	margin-top: -5px;
	margin-bottom: -5px;
    }
}

.hand {width:20px;height:26px;display:block;background-image:url('./images/hand.png');background-size:100%;position:absolute;z-index:1000;transition:background .4s}
.hand.touch {animation:touch 1.5s infinite ease-in-out;}
.skills .hand.touch{top:50px;left:50%;}

.hand.swipe {animation:swipe 1.5s infinite;}
.swiper-container .hand.swipe {top:50%;left:50%;}

@keyframes touch {
    0%, 100% {
	transform: scale(1.0);
    }
    50% {
	transform: scale(1.2);
    }
}

@-webkit-keyframes swipe {
    0%, 10% {
	margin-left:100px;
	transform: scale(1.2);
	opacity : 1;
    }
    30% {
	margin-left:100px;
	transform: scale(1);
    }
    80% {
	margin-left:-100px;
	opacity : 1;
    }
    100% {
	margin-left:-100px;
	opacity : 0;
    }
}

.scrollable{overflow:auto;}
.scrollable::-webkit-scrollbar{width:0;background-color:transparent;}

.sections {max-width:1300px;left: 0;right: 0;margin: auto;}
.sections > li {position:relative;padding:10px 20px;width:100%;height:100%;box-sizing:border-box;}
.sections > li > div:first-child{position:relative;width:100%;height:100%;text-align:center;background:rgba(0,0,0,0.7);margin-top:50px;opacity:0;transition:margin .7s, opacity .7s;}
.sections > li.relax > div:first-child {margin-top:0}
.sections > li.on > div{opacity:1;margin-top:0;display:block;}
.sections > li:nth-child(1) > div:first-child{background:rgba(0,0,0,0)}

.sections h2 {position:relative;display:inline-block;text-align:center;margin-bottom:20px;padding:0px 20px 5px 20px}
.sections h2.underbar:after {content:"";width:0;border-bottom:solid white 2px;left:0;right:0;bottom:0;position:absolute;transition:width .5s .6s;margin:auto;}
.sections li.on h2.underbar:after {width:100%;}
.sections li .twin{transition:left .8s, right .8s;}
.sections li .twin:nth-child(odd){left:-100%;}
.sections li .twin:nth-child(even){right:-100%;}
.sections li.on .twin:nth-child(odd){left:0%;}
.sections li.on .twin:nth-child(even){right:0%;}

.twin {width:49%;position:absolute;box-sizing:border-box;height:100%;}
.twin:nth-child(even) {right:0}
.twin_dna {height:100%;}

.center {width:100%;position:absolute;top:50%;transform: translateY(-50%);}

.cube_wrap {position:absolute;width:300px;height:300px;top:0;bottom:0;left:0;right:0;margin:auto;transition:width .3s, height .3s;}
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-45deg);
}

.cube img {display:none}


.cube div {
    width: 100%;
    height: 100%;
    position: absolute;
    border:solid 1px white;
}

.cube div.top {transform: rotateX(90deg); margin-top: -50%;}
.cube div.right {transform: rotateY(90deg); margin-left: 50%;}
.cube div.bottom {transform: rotateX(90deg);margin-top: 50%;}
.cube div.left {transform: rotateY(-90deg);margin-left: -50%;}
.cube div.front {transform: translateZ(150px);transition:transform .3s}
.cube div.back {transform: translateZ(-150px);transition:transform .3s}

.cube.healing .top {background:url('http://www.gukjenews.com/news/photo/201810/1013115_787089_237.jpg')}
.cube.healing  .right {background:url('http://image.sportsseoul.com/2018/01/14/news/20180114173632_1.jpg')}
.cube.healing  .bottom {background:url('https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBOlOdD.img?h=496&w=500&m=6&q=60&o=f&l=f&x=263&y=244')}
.cube.healing  .left {background:url('http://image.chosun.com/sitedata/image/201710/10/2017101002285_0.jpg')}
.cube.healing  .front {background:url('https://lh3.googleusercontent.com/6wOZGswXz9r3FHpYdOM5R4ymc-otX0LQ4c856t5SJ8el3XXbNgVjg3vly8xMZWcA_cR-jX3lukLAJ9-6ZyUJwbc8zC7g73KTTHa-8HTQTZM0k4k7Te5Zwtcsq7HBHXtQg7F4I_Dq1nJLrZU4-A_UJSiuAKG46uFoHVytaRW7PSmu1IieIGg6GPpETnOFAYma7t85iAoT9LjCmXeaTFzQxBqDNyBzunCQswXhlkHTPDKdn0EbxMkNlgkyKPtw2y2reK632WI_N7TLrAQudFyT6xk4kExmYS8jvMA8LjQvJXrXikceTqlZVbp6ebpmr_pAm6TfDgWnEOdtbygrjmPf8ECqojToYNCOK51LFhmoJ_gMEcGiyhryifKxCae3Qecb7Q92400BwilPdhshqGQfc18ASz58FcdBWfkKd_DqxTDT7CCrMlh1ZP1D6g-J9f2z8BMF_c7ArH3k9tmgi7DoaHDex_2Pd2vavNCK3rqdQJvYQqQKnBgFVebzh8i2yrb10uvTW7VlL8JJETqft5eDvty_QnnXYi4Y53cPUpAgPx-I4d6RziuY3biOTAXT1O-ucjpMoG0Ae8hkHSCp0En2D2nPEIo635wr0YHdx8w1Nssyk93IBV1Q3Yle_v-mIEJOWEVww3yH5JqqQZAGpDK4ca6-=s916-no')}

#loader {background:#fff;position:absolute;top:0;bottom:0;left:0;right:0;z-index:10000;}
.multi-spinner-container {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto auto;
    overflow: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.multi-spinner {
    position: absolute;
    width: calc(100% - 9.9px);
    height: calc(100% - 9.9px);
    border: 5px solid transparent;
    border-top-color: #333;
    border-radius: 50%;
    -webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
    animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}     


@-webkit-keyframes spin {
    from {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
    }
    to {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
    }
}

.indicator {position:absolute;display:table;right:20px;height:100%;width:auto;;z-index:2000;}
.indicator ol {display:table-cell;position:relative;vertical-align:middle;}
.indicator li {min-width:50px;height:50px;cursor:pointer;}
.indicator li > p {float:right;width:30px;height:35px;font-size:1.1em;font-weight:100;line-height:7em;background:rgba(0,0,0,0);overflow:hidden;border-bottom:solid 1px white;clear:both;transition:line-height 0.3s, background 0.3s, width .3s .2s;}
.indicator li.on > p {width:50px;border-bottom:solid 2px white;transition:width .3s;}
.indicator li:hover > p {width:150px;line-height:2em;background:rgba(0,0,0,.6);transition:line-height .3s .2s, width .3s, background .3s .2s;}

.drawer {position:absolute;display:table;background:rgba(0,0,0,0.8);width:100%;height:100%;z-index:2900;visibility:visible}
.drawer > ol {display:table-cell;height:100%;vertical-align:middle;}
.drawer li {cursor:pointer;}
.drawer li > p {font-size:2em;padding:10px;position:relative;display:inline-block;white-space: nowrap;}
.drawer li.on > p {color:#aaa}
.drawer li > p:after {content:'';position:absolute;bottom:0;width:0%;border-bottom:solid 2px white;left:0%;right:0%;margin:0 auto;display:block;transition:width 0.4s;}
.drawer li:hover > p:after {width:100%;}

.menu {z-index:5000;font-size: 15px;position: absolute;display: inline-block;width: 2em;height: 2em;cursor: pointer;top:20px;right:20px;visibility:visible}
.menu span {position: absolute;top: 50%;left: 0;display: block;width: 100%;height: 0.2em;margin-top: -0.1em;background-color: #fff;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-transition: transform 0.3s;transition: background-color 0.3s, transform 0.3s;}
.menu span:after,.menu span:before {position: absolute;left: 0;width: 100%;height: 100%;background: #fff;content: '';-webkit-transition: -webkit-transform 0.3s;transition: transform 0.3s;}
.menu span {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
.menu span:before {-webkit-transform: translateY(-0.5em);transform: translateY(-0.5em);}
.menu span:after {-webkit-transform: translateY(0.5em);transform: translateY(0.5em);}
.menu.open span {background-color : rgba(0,0,0,0);-webkit-transform: rotate(-180deg);transform: rotate(-180deg) opacity(0f);}
.menu.open span:before {-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.menu.open span:after {-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}

.top_btn {position:absolute;right:20px;width:40px;height:40px;display:none;}
.top_btn > p {position:fixed;width:40px;height:40px;z-index:2000;background:black;border:solid 2px white;cursor:pointer;bottom:20px;}
.top_btn > p:before, .top_btn > p:after {content:"";position: absolute;top:0;bottom:0;left:0;right:0;margin:auto;width: 20px;height:2px;background:white;z-index:2500;}
.top_btn > p:before {transform: rotate(45deg) translateX(0.3em) translateY(-0.3em);}
.top_btn > p:after {transform: rotate(-45deg) translateX(-0.3em) translateY(-0.3em);}
.top_btn > p:hover {background:white;transition:background 0.5s}
.top_btn > p:hover:before, .top_btn > p:hover:after {background:black;transition:background 0.5s}


#debug {position:fixed;color:white}

.skills {position:absolute;top:70px;bottom:20px;width:100%;}
.skills > li {position:relative;padding-bottom:10px;;cursor:pointer;}
.skills > li:last-child {padding-bottom:0}
.skills h3 {margin-bottom:5px}
.chart_container {position:relative;height:70px;} 

.detail {display:none;padding:10px 0;}
.skills .detail > li {font-size:1.1em;padding:3px 0;}

.close{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position:absolute;top:20px;right:20px;
    z-index:3000;
    cursor:pointer;
}

.close.small{
    width: 20px;
    height: 20px;
    position:absolute;
    top:10px;right:10px;
}

.close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #FFF;
}
.close::before {transform: rotate(45deg);}
.close::after {transform: rotate(-45deg);}


.main dt {font-weight:400;font-size:4em;}
.main dd {font-weight:400;font-size:2em;}


.me {width:150px;border-radius:1000px;transition:width .3s;margin-bottom:10px;}
.introduce {line-height:1.8em}
.introduce strong {font-size:1.1em}

.scalable {font-size:1em;transition:font-size .3s;}

.thumbnail {position:relative;background-position:center;background-size:cover;background-repeat:no-repeat;overflow:hidden;cursor:pointer;}
.thumbnail > p {position:absolute;display:table-cell;font-size:1.4em;font-weight:400;text-align:center;width:100%;height:100%;vertical-align:middle;background:rgba(0,0,0,0.6);top:100%;transition:top .3s, font-size .3s;}
.thumbnail > p:before {content:"";display:inline-block;height:100%;vertical-align:middle;}
.thumbnail:hover > p {top:0;}
.thumbnail.link > p:after {content:"";display:inline-block;width:20px;height:20px;background-image:url('./images/link.png');background-size:100%;margin-left:5px;vertical-align:middle;}

.thumbnail.monawa {background-image:url('./images/monawa.jpg')}
.thumbnail.isp {background-image:url('./images/isp.jpg?ver=2')}
.thumbnail.tradoc {background-image:url('./images/tradoc.jpg?ver=4')}

.thumbnail.mobi {background-image:url('./images/thumbnail/mobi.png')}
.thumbnail.admin {background-image:url('./images/thumbnail/admin.png?ver=1')}
.thumbnail.mobi_advertiser {background-image:url('./images/thumbnail/mobi_advertiser.png')}
.thumbnail.looting {background-image:url('./images/thumbnail/looting.png')}
.thumbnail.zzi {background-image:url('./images/thumbnail/zzi.png')}
.thumbnail.adbox {background-image:url('./images/thumbnail/adbox.png')}
.thumbnail.adbox_advertiser {background-image:url('./images/thumbnail/adbox_advertiser.png')}
.thumbnail.hungryapp_sdk {background-image:url('./images/thumbnail/hungryapp_sdk.png?ver=1')}
.thumbnail.event {background-image:url('./images/thumbnail/event.png')}
.thumbnail.albag {background-image:url('./images/thumbnail/albag.png?ver=1')}

.work_experiences {position:absolute;top:70px;bottom:20px;width:100%;}
.work_experiences > li {width:100%;cursor:pointer;padding:10px 0;position:relative;}
.work_experiences .info {font-size:1.15em;padding:10px 0px;}
.work_experiences dt {font-size:1.1em;margin-top:15px;}
.work_experiences dt:first-child {margin-top:0px}
.work_experiences dd {padding:2px 0;font-size:0.95em;color:#DFDFDF}
.work_experiences .thumbnail {display:table;margin: 0 auto;width:250px;height:90px;background-size:100%;}
.work_experiences .touch {left:50%;bottom:20px;}

.my_works {width:100%;position:absolute;top:115px;bottom:20px;}
.my_works .thumbnail {display:inline-block;width:100%;padding-bottom:100%;background-color:rgba(0,0,0,0.8);border:solid 1px #FFF;box-sizing:border-box}
.my_works button {background:rgba(0,0,0,0.4);font-size:0.8rem;padding:4px 20px;margin-top:10px;transition:background .3s, color .3s}
.my_works button:hover {background:white;color:black;}

.grid {width:100%;}
.grid > li {padding:10px 11px;box-sizing:border-box}

.grid_filter {margin-bottom:10px;}
.grid_filter ul {display:inline-block;width:auto;}
.grid_filter li {float:left;display:inline-block;position:relative;cursor:pointer;padding:0px 20px;font-size:1.1em;line-height:1em;border-right:solid 1px white;}
.grid_filter li:last-child {border-right:0;}
.grid_filter li:after{content:"";position:absolute;bottom:-10px;left:100%;right:100%;border-bottom:solid 1px white;margin:auto;transition:left .3s, right .3s;}
.grid_filter li:hover:after{left:10px;right:10px;}
.grid_filter li.on {font-weight:bold}
.grid_filter li.on:after {left:10px;right:10px;}


.popup {position:fixed;padding:20px 40px;display:none;max-width:1160px;margin:auto;top:0px;bottom:0px;left:0px;right:0px;background:rgba(0,0,0,0.7);}

.popup h2 {position:relative;display:inline-block;text-align:center;margin-bottom:10px;padding:0px 20px 5px 20px;font-size:1.7em}
.popup h2:after {content:"";position:absolute;border-bottom:solid 2px white;left:10px;right:10px;display:block;}

.popup h3 {position:relative;display:inline-block;text-align:center;margin-bottom:10px;padding:0px 10px;font-size:1.3em}

.popup h3:after {content:"";position:absolute;border-bottom:solid 1px white;left:0px;right:0px;display:block;bottom:-3px;}

.popup #devs {visibility:hidden;margin-bottom:20px}

.popup .summary {width:100%;margin-bottom:80px;visibility:hidden;float:left;}
.popup .dev {width:100%;float:left;position:relative;}


.popup .use_skills {width:auto;margin-bottom:10px;}
.popup .use_skills > li {display:inline-block;position:relative;cursor:pointer;padding:0px 10px;font-size:1.1em;line-height:1em;border-right:solid 1px #FFF;}
.popup .use_skills > li:last-child {border:0}

.popup .links {margin-bottom:10px;}
.popup .links > button {background-position:10px 50%;background-size:15px;background-repeat:no-repeat;background-image:url('./images/link.png');padding:5px 10px 5px 35px;margin:0 5px;}

.popup img {cursor:pointer}
.popup video {cursor:pointer}
.popup samp {cursor:pointer;width:100%;padding-bottom:50.9375%;background-size:100%;background-repeat:no-repeat;}

.popup .dev h3 {padding:0px 20px 0px 0px;text-align:left;}
.dev dt {width:100%;margin:10px 0;}
.dev dd {position:relative;width:100%;}
.dev dd:before {content:"";height:100%;display:inline-block;vertical-align:middle;margin-left:-10px;}
.dev dd > * {display:inline-block;vertical-align:middle;text-align:left;}
.dev .description {}
.dev .description p {padding:7px 0;}
.dev video, .dev img {width:40%;text-align:center;margin:0 1%;}



.swiper-container {margin:10px 0;}
.swiper-container li > * {width:100%;}


.contact img {height:40px;display:inline-block;margin-bottom:10px;}
.contact li > * {vertical-align:middle;}
.contact li {cursor:pointer;padding:20px 5px;float:left;width:50%;box-sizing:border-box;}
.contact {margin-top:10px;max-width:700px;width:100%;display:inline-block;}

/*@반응형*/
/* Mobile */
@media screen and (max-width: 700px){
    .grid > li {width:50%;}
    .cube_wrap {width:200px;height:200px;}
    .cube div.front {transform: translateZ(100px); }
    .cube div.back {transform: translateZ(-100px); }
    .introduce .no_br {display:none;}
    .introduce strong {font-size:1em}
    .introduce strong {font-size:1em}
    .my_works .thumbnail > p {font-size:1.2rem}

    .popup {padding:20px;}
}
/* PC */
@media screen and (min-width: 700px){
    body {font-weight:300;}

    .main dt {font-weight:400;font-size:5em;}
    .main dd {font-weight:400;font-size:2.5em;}

    .grid > li {width:33.3333%;}
    .scalable {font-size:1.2em;}

    .popup h2 {font-size:2.2em;}
    .popup h3 {font-size:1.7em}
    .popup .description {font-size:1.2em;}
}

/*Small*/
@media screen and (max-width: 1000px){
    .indicator {display:none;visibility:hidden;}
    .dev {margin-bottom: 80px;}
}

/*Big*/
@media screen and (min-width: 1000px){
    .menu, .drawer {display:none;visibility:hidden;}
    .sections > li {padding:10px 80px;}
    .my_works .thumbnail p {font-size:1.6em}
    .my_works button {font-size:0.9rem}
    .grid > li {width:25%;}

    .dev {margin: 40px 0;}
    .dev:nth-child(even) {float:left;}
    .dev:nth-child(odd) {float:right;}

    .dev dt {width:50%;}
    .dev:nth-child(even) dt {float:left;}
    .dev:nth-child(odd) dt {float:right;}

    .dev dd{position:absolute;top:0;bottom:0;width:50%;}
    .dev:nth-child(even) dd{right:0}
    .dev:nth-child(odd) dd{left:0}

    .dev:nth-child(even) dd > * {padding-left:40px;}
    .dev:nth-child(odd) dd > * {padding-right:40px;}


}